body {
background-color: lightcyan;
font-family: 'Rajdhani', sans-serif;
}
p {
color: black;
}
h1 {
color:teal;
}
h2 {
color: teal;	
}
.custom {
color: yellow;
font-size: 38px;
}
a {
color: teal;
text-decoration: none;
}
a:hover {
color: darkturquoise;
}
.emphasize {
font: italic;
}
.center {
display: block;
margin-left: auto;
margin-right: auto;
}