body {
background-color: lightcyan;
font-family: 'Rajdhani', sans-serif;
}

h1 {
color:teal;
}
h2 {
color: teal;	
}
h3 {
color: teal;
}
.custom {
color: yellow;
font-size: 38px;
}
a {
	color: turquoise;
	text-decoration: none;
}
a:hover {
color: paleturquoise;
}
.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}